.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1280px;
    padding-top: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.UpgradeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    margin-top: 300px;
    color: white;
}