body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #242424;  
}

.Container{
    display: flex;
    flex-direction: column;

}

.upgradeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.pbContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 300px;
}