.swiper {
    width: 1200px;
    height: 700px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

.classContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

@media (max-width: 768px) {

    .swiper {
        width: 800px;
        height: 650px;
    }
}