.class{
    margin-top: 50px;
    top: 1000px;
    
}

h5{
    margin-top: 50px;
    padding-bottom: 50px;
    color: white;
}


@media (max-width: 768px) {
    .class {
        margin-top: 50px;
    }
}