.mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
  
}

h1,
h2 {
    padding-top: 30px;
    color: #999;
}

.img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin-top: 100px;
}

.imgRk{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.imgLtm{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
}

.pbContainer{
    display: flex;
    flex-direction: column;
    margin-top: -650px;
}

.rankContainer{
    display: flex;
    flex-direction: column;
    margin-top: -700px;
}

.ltmContainer{
    display: flex;
    flex-direction: column;
    margin-top: -350px;
}

.currentMap,
.nextMap,
.currentRankMap,
.nextRankMap,
.currentLtm,
.nextLtm {
    font: bold;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}

.remainingTimer,
.remainingTimerLtm,
.p {
    font-size: 17px;
    color: #fff;
    font-style: italic;
    margin-bottom: 25px;
}